NEXT_PUBLIC_SUPABASE_URL=https://jqwkrgyiacbvjygdvwom.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impxd2tyZ3lpYWNidmp5Z2R2d29tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1ODA1MzUsImV4cCI6MjA5MTE1NjUzNX0.9_ZsHM6wQb4irOrCieRTvSxa1C9hToykKowy7fPa0hU
NEXT_PUBLIC_API_BASE_URL=https://staging-api.hp.sekolah.sch.id
NEXT_PUBLIC_APP_ENV=preview
