SUPABASE_URL=https://jqwkrgyiacbvjygdvwom.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impxd2tyZ3lpYWNidmp5Z2R2d29tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1ODA1MzUsImV4cCI6MjA5MTE1NjUzNX0.9_ZsHM6wQb4irOrCieRTvSxa1C9hToykKowy7fPa0hU
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impxd2tyZ3lpYWNidmp5Z2R2d29tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTU4MDUzNSwiZXhwIjoyMDkxMTU2NTM1fQ.QUHDU93z4GGw-auI3moAdlgQSn46tWaUPyRMM6DjzgE
JWT_SECRET=Ev5VaN2uUoLNwi2DeJ/zndVjW2GqBPDTXl5iB3YNKEtZZiLAHR5ZtETSlr5Gkf1hu/GH/gKrgvRw5cZVYWdOxw==
APP_ENV=staging
ALLOWED_ORIGIN=https://staging-hp.sekolah.sch.id
SCHOOL_TIMEZONE=Asia/Jakarta
REGULAR_IN_ALLOWED_START=06:30
REGULAR_IN_ALLOWED_END=07:30
REGULAR_OUT_ALLOWED_TIME=12:30
CONTAINER_CACHE_TTL_SECONDS=90
DASHBOARD_CACHE_TTL_SECONDS=10
